#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: rgb(131, 129, 129);
  padding: 50px;
}

.timeBox{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.time-display{
  width: 30%;
  padding: 15px;
  background-color: azure;
}
.time-display-span{
  text-align: center;
  font-size: 1.4rem;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 25px;
}
.btn{
  padding: 12px 30px;
}

.btn:hover{
  background-color: rgb(100, 100, 228);
  border: 2px solid yellowgreen;
}

.laps-table{
  margin-top: 20px;
  border: 1px solid black;
  width: 60%;
  position: absolute;
  background: aqua;
  margin-left: 20%
}

.run-table {
  width: 60%;
  position: absolute;
  background: antiquewhite;

}